@using Shop.ViewModels.Product;

@{
    ViewData["Title"] = "Create";
}
@model CreateProductVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create Product</h4>
                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" class="form-control">
                                <span asp-validation-for="Price"></span>
                            </div> 
                            <div class="form-group">
                                <label asp-for="Image">Name</label>
                                <input asp-for="Image" accept="image/*" class="form-control">
                                <span asp-validation-for="ImageUrl"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

